---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <p>
        Security researcher from South America, Free Open Source Software
        developer
      </p>
      <p>System Specifications</p>
      <ul>
        <li>CPU: Ryzen 5 7520U</li>
        <li>GPU: Radeon 610M</li>
        <li>RAM: 8 GB LPDDR5 @ 5500 MT/s</li>
        <li>Storage: Samsung 256 GB NVMe</li>
        <li>OS: Chimera Linux</li>
        <li>WM: Niri (Wayland Compositor)</li>
        <li>Terminal: Kitty</li>
        <li>Toolchain: LLVM, NodeJS, Rust/Cargo</li>
      </ul>
      <Footer />
    </main>
  </body>
</html>
