---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <p>
        Security researcher from South America, Free Open Source Software
        developer
      </p>
      <p>System Specifications</p>
      <li>
        <ul>CPU: Ryzen 5 7520U</ul>
        <ul>GPU: Radeon 610M</ul>
        <ul>RAM: 8 GB LPDDR5 @ 5500 MT/s</ul>
        <ul>Storage: Samsung 256 GB NVMe</ul>
      </li>
      <p>Workflow</p>
      <li>
        <ul>OS: Chimera Linux</ul>
        <ul>WM: Niri (Wayland Compositor)</ul>
        <ul>Terminal: Kitty</ul>
        <ul>Toolchain: LLVM, NodeJS, Rust/Cargo</ul>
      </li>
      <Footer />
    </main>
  </body>
</html>
